<div class="main-header-container">
    <div class="main-header container">
        <h2 class="header-object">
            <a class="main-logo" href="{% url 'recipes:home' %}">
                <i class="fa-solid fa-utensils main-logo-icon"></i>
                <span class="main-logo-text">Recipes</span>
            </a>
        </h2>
        <div class="header-object">
            <div id="acc-management" aria-expanded="false">
                <i class="fa-solid fa-user"></i>
            </div>
            <div id="acc-management-container">
                <ul class="acc-management-options">
                    {% if user.is_authenticated %}
                    <li class="acc-option">
                        <a href="{% url 'authors:dashboard' %}">
                            <i class="fa-solid fa-sliders"></i>
                            <span class="acc-option-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="acc-option">
                        <form action="{% url "authors:logout" %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="username" value="{{request.user.username}}">
                            <button class="input-link" type="submit">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                <span class="acc-option-text">Logout</span>
                            </button>
                        </form>
                    </li>
                    {% else %}
                    <li class="acc-option">
                        <a href="{% url 'authors:login' %}">
                            <i class="fa-solid fa-right-to-bracket"></i>
                            <span class="acc-option-text">Login</span>
                        </a>
                    </li>
                    <li class="acc-option">
                        <a href="{% url 'authors:register' %}">
                            <i class="fa-solid fa-pen"></i>
                            <span class="acc-option-text">Register</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>        
    </div>
</div>