{% if recipes.has_other_pages %}
    <nav class="pagination" aria-label="Navigation">
        <div class="pag-container">
            {% if recipes.has_previous %}
                <a href="?page={{recipes.previous_page_number}}{{additional_query}}" class="pag-navigator" aria-label="Previous page">
                        <i class="fa-solid fa-chevron-left"></i>                    
                </a>
            {% else %}
                <span class="pag-navigator" disabled>
                    <i class="fa-solid fa-chevron-left"></i>  
                </span>
            {% endif %}   
            {% if pagination_range.first_page_out_of_page_range %}
                <a href="?page=1{{additional_query}}" class="pag-item">1</a>
                <div class="pag-item">...</div>
            {% endif %}
            {% for page in pagination_range.pagination %}
                {% if pagination_range.current == page %}
                    <span class="pag-item pag-item-active" aria-current="true">{{page}}</span>
                {% else %}
                    <a href="?page={{page}}{{additional_query}}" class="pag-item">{{page}}</a>
                {% endif %}                
            {% endfor %}
            {% if pagination_range.last_page_out_of_page_range %}
                <span class="pag-item">...</span>
                <a href="?page={{pagination_range.last_page}}{{additional_query}}" class="pag-item">{{pagination_range.last_page}}</a>                
            {% endif %}
            {% if recipes.has_next %}
                <a href="?page={{recipes.next_page_number}}{{additional_query}}" class="pag-navigator" aria-label="Next page">
                        <i class="fa-solid fa-chevron-right"></i>                    
                </a>
            {% else %}
                <span class="pag-navigator" disabled>
                    <i class="fa-solid fa-chevron-right"></i>  
                </span>
            {% endif %}            
        </div>
    </nav>
{% endif %}