@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

:root {
    --color-primary: #76bfe9;
    --color-primary-dark: #13141f;

    --color-white: #fff;
    --color-gray1: #fefe;
    --color-gray-4: #959595;

    --color-dark-text: #444;

    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;

    --spacing-gutter-lg: 4rem;
    --spacing-gutter-md: 3rem;
    --spacing-gutter-sm: 2rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background-color: var(--color-gray1);
    color: var(--color-dark-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headings);
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: var(--spacing-gutter-lg);
}

.main-header-container {
    background-color: var(--color-primary-dark);
}

.main-logo {
    display: flex;
    font-size: 4rem;
    color: var(--color-white);
    text-decoration: none;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.main-logo-icon {
    margin-right: 2rem;
}

.search-form {
    position: relative;
    max-width: 64rem;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: .4rem;
    transition: all .2s ease-in-out;
}

.search-form:focus-within {
    border-color: var(--color-primary);
    transition: .2s ease-out;
}

.search-input,
.search-button {
    border: none;
    background: none;
    outline: none;
    padding: 1rem;
}

.search-button {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
}

.search-form:focus-within .search-button {
    color: var(--color-primary);
    transition: all .2s ease-in-out;
}

.search-button:focus {
    outline: 1px solid rgba(0, 0, 0, .5);
}

.search-input {
    width: 100%;
    padding-right: 3rem;
}

.main-content {
    padding-top: 0;
}

.main-content-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: var(--spacing-gutter-lg);
}

.recipe {
    background-color: var(--color-white);
    border-radius: .4rem;
    transform: scale(1);
    transition: all .2s ease-in-out;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.recipe img {
    max-width: 100%;
}

.recipe-list-item {
    max-width: 64rem;
    transition: all .2s ease-in-out;
    height: fit-content;
}

.main-content-list .recipe-list-item:hover {
    transform: scale(1.02);
    transition: all .2s ease-in-out;
    box-shadow: -8px 8px 18px rgba(0, 0, 0, .25);
}

.main-content-detail .recipe-list-item {
    max-width: 84rem;
    margin: 0 auto;
}

.recipe-title-container {
    padding: var(--spacing-gutter-md);
    padding-bottom: calc(var(--spacing-gutter-sm) / 2);
}

.recipe-title-container a {
    text-decoration: none;
    color: var(--color-dark-text);
}

.recipe-author-container {
    padding: 0 var(--spacing-gutter-md);
    color: var(--color-gray-4);
    font-size: 1.3rem;
    font-style: italic;
}

.recipe-author-item {
    margin-right: .5rem;
}

.recipe-author-container a {
    color: var(--color-primary);
    text-decoration: none;
    transition: all .1s ease-in-out;
}

.recipe-author-container a:hover {
    color: var(--color-primary-dark);
    transition: all .1s ease-in-out;
}

.recipe-content {
    padding: var(--spacing-gutter-md)
}

.recipe-meta-container {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--color-primary);
    padding: var(--spacing-gutter-md);
}

.recipe-meta {
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 1;
    flex-grow: 1;
    text-align: center;
}

.recipe-meta-title {
    font-size: 1.6rem;
}

.recipe-footer a {
    display: block;
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    text-align: center;
    flex-flow: row nowrap;
    text-decoration: none;
    padding: var(--spacing-gutter-sm);
    transition: all .2s ease-in-out;
}

.recipe-footer a:hover {
    filter: brightness(2);
    transition: all .2s ease-in-out;
}

.preparation-steps {
    padding: var(--spacing-gutter-md);
}

.main-footer {
    display: flex;
    background-color: var(--color-primary-dark);
    justify-content: space-between;
}

.main-footer-author, .main-footer-engine {
    color: var(--color-white);
    padding: var(--spacing-gutter-md);
}