{% extends "global/base.html" %}
{% block title %}Dashboard | {% endblock title %}
{% block content %}
    {% include "global/partials/messages.html" %}
    <div class="d-block m-y m-x text-right">
        <h2>Welcome to your dashboard, {{user}}!</h2>
    </div>
    <div class="d-block center m-y">
        <h1>Your recipes</h1>
        <div class="recipe-management">
            <a href="{% url "authors:recipe_create" %}" class="btn-link btn-link-success" aria-label="Create a new recipe">
                <i class="fa-solid fa-plus"></i>
                <span>New recipe</span>
            </a>
        </div>
    </div>
    <div class="main-content main-content-list container">
        {% for recipe in recipes %}
            {% include 'authors/partials/edit_recipe.html' %}
        {% empty %}
            <div class="d-block center m-y">
                <h2>You don't have any unpublished recipe.</h2>
            </div>
        {% endfor %}
    </div>
{% endblock content %}