@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

:root {
    --color-primary: #76bfe9;
    --color-secondary: #1386c9;    
    --color-secondary-hover: #3b9fd8;    
    --color-primary-dark: #13141f;

    --color-white: #fff;
    --color-gray1: #fefe;
    --color-gray-4: #959595;

    --color-dark-text: #444;
    --color-dark-red: #bb4343;

    --color-success: #7abd8a;
    --color-error: #fb6d7a;
    --color-warning: #fff3cd;

    --border-success: #6bad7a;
    --border-error: #e9646e;
    --border-warning: #927f40;
    --border-primary: #70b0d5;

    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;

    --spacing-gutter-lg: 40px;
    --spacing-gutter-md: 30px;
    --spacing-gutter-sm: 20px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: var(--font-primary);
    background-color: var(--color-gray1);
    color: var(--color-dark-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headings);
}

img {
    max-width: 100%;
}

.container, .pagination {
    max-width: 1440px;
    margin: 0 auto;
    padding: var(--spacing-gutter-lg);
}

.main-header-container {
    background-color: var(--color-primary-dark);
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
    display: flex;
    font-size: 40px;
    color: var(--color-white);
    text-decoration: none;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.main-logo-icon {
    margin-right: 20px;
}

.search-form {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}

.search-form:focus-within {
    border-color: var(--color-primary);
    transition: .2s ease-out;
}

.search-input,
.search-button {
    border: none;
    background: none;
    outline: none;
    padding: 10px;
}

.search-button {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
}

.search-form:focus-within .search-button {
    color: var(--color-primary);
    transition: all .2s ease-in-out;
}

.search-button:focus {
    outline: 1px solid rgba(0, 0, 0, .5);
}

.search-input {
    width: 100%;
    padding-right: 30px;
}

.main-content {
    padding-top: var(--spacing-gutter-md);
}

.main-content-container {
    min-height: 640px;
}

.main-content-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: var(--spacing-gutter-lg);
}

.recipe {
    background-color: var(--color-white);
    border-radius: 4px;
    transform: scale(1);
    transition: all .2s ease-in-out;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.recipe img {
    max-width: 100%;
}

.recipe-list-item {
    max-width: 640px;
    transition: all .2s ease-in-out;
    height: fit-content;
}

.main-content-list .recipe-list-item:hover {
    transform: scale(1.02);
    transition: all .2s ease-in-out;
    box-shadow: -8px 8px 18px rgba(0, 0, 0, .25);
}

.main-content-detail .recipe-list-item {
    max-width: 840px;
    margin: 0 auto;
}

.recipe-title-container {
    padding: var(--spacing-gutter-md);
    padding-bottom: calc(var(--spacing-gutter-sm) / 2);
}

.recipe-title-container a {
    text-decoration: none;
    color: var(--color-dark-text);
}

.recipe-author-container {
    padding: 0 var(--spacing-gutter-md);
    color: var(--color-gray-4);
    font-size: 13px;
    font-style: italic;
}

.recipe-author-item {
    margin-right: 5px;
}

.recipe-author-container a {
    color: var(--color-primary);
    text-decoration: none;
    transition: all .1s ease-in-out;
}

.recipe-author-container a:hover {
    color: var(--color-primary-dark);
    transition: all .1s ease-in-out;
}

.recipe-content {
    padding: var(--spacing-gutter-md)
}

.recipe-meta-container {
    display: flex;
    flex-flow: row wrap;
    background-color: var(--color-primary);
    padding: var(--spacing-gutter-md);
}

.recipe-meta {
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 1;
    flex-grow: 1;
    text-align: center;
}

.recipe-meta-title {
    font-size: 16px;
}

.recipe-footer .button, .recipe-footer button.input-delete {
    font-size: inherit;
    display: block;
    color: var(--color-white);
    text-align: center;
    flex-flow: row nowrap;
    text-decoration: none;
    padding: var(--spacing-gutter-sm);
    transition: all .2s ease-in-out;
}

.recipe-footer .button-full-width {
    width: 100%;
}

.button-dark {
    background-color: var(--color-primary-dark);
}

.button-red {
    background-color: var(--color-error);
}

.recipe-footer .button-red:hover {
    filter: brightness(1.25);
    transition: all .2s ease-in-out;
}

.recipe-footer .button-dark:hover {
    filter: brightness(2);
    transition: all .2s ease-in-out;
}

button.input-delete {
    cursor: pointer;
    border: none;
}

.preparation-steps, .tags-container-list {
    padding: var(--spacing-gutter-md);
}

.main-footer {
    display: flex;
    background-color: var(--color-primary-dark);
    justify-content: space-between;
}

.main-footer-author, .main-footer-engine {
    color: var(--color-white);
    padding: var(--spacing-gutter-md);
}

.preparation-steps h1,
.preparation-steps h2,
.preparation-steps h3,
.preparation-steps h4,
.preparation-steps h5,
.preparation-steps ul,
.preparation-steps ol,
.preparation-steps pre,
.preparation-steps h6 {
    margin: 20px 0;
}

.preparation-steps li {
    margin: 0 50px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pag-container {
    display: flex;
    flex-flow: wrap;
}

.pag-item, .pag-navigator {
    padding: 10px 15px;
    margin-right: 5px;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-primary-dark);
    border-radius: 5px;
}

a.pag-item, a.pag-navigator {
    transition: ease-in-out .1s;
}

a.pag-item:hover, a.pag-navigator:hover {
    color: var(--color-white);
    background-color: var(--color-secondary-hover);
    transition: ease-in-out .1s;
}

span.pag-item[disabled], span.pag-navigator[disabled] {
    color: #a1a1a1;    
    cursor: not-allowed;
}

.pag-item-active {    
    color: var(--color-white);
    background-color: var(--color-primary);
}

/* Messages */
.message {
    padding: calc(var(--spacing-gutter-sm)/2);
    background-color: var(--color-gray-4);
    border: 2px solid;
    border-radius: 4px;
    color: var(--color-white);
}

.message-success {
    background-color: var(--color-success);
    border-color: var(--border-success);
}

.message-info, .message-debug {
    background-color: var(--color-primary);
    border-color: var(--border-primary);
}

.message-error {
    background-color: var(--color-error);
    border-color: var(--border-error);
}

.message-warning {
    background-color: var(--color-warning);
    border-color: var(--border-warning);
}

/* Form */
.form-group label, .form-group .field-help-text, .form-group .errorlist {
    display: block;
    font-size: 18px;
    list-style: none;
    margin: 5px 0;
}

.form-group .errorlist {
    color: var(--color-dark-red);
}

.form-content {
    max-width: 640px;
    margin: auto;
}

.form-content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: calc(var(--spacing-gutter-sm)/2) calc(var(--spacing-gutter-sm))
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-primary-dark);
    border-radius: 5px;
    font-size: 18px;
}

.form-group button {
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    font-size: 16px;
}

#acc-management {
    font-size: 20px;
    cursor: pointer;
    color: var(--color-white);
    border: 3px solid var(--color-white);
    padding: 10px 12px;
    border-radius: 50%;
}

#acc-management-container {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 100px 40px 10px 0px;
    padding: var(--spacing-gutter-sm);
    background-color: var(--color-gray1);
    border-top: 5px solid var(--color-white);
    border-bottom: 5px solid var(--color-white);
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#acc-management[aria-expanded="true"] + #acc-management-container {
    display: block;
}

.acc-management-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.input-link {
    color: var(--color-dark-text);
    cursor: pointer;
    background: none;
    border: none;
}

.acc-management-options .acc-option:not(:last-child) {
    margin-bottom: var(--spacing-gutter-sm);
}

.acc-management-options .acc-option a {
    color: var(--color-dark-text);
    text-decoration: none;
}

.acc-management-options .acc-option a, .input-link {
    font-size: 18px;
}

.acc-option-text {
    font-family: var(--font-headings);
    margin-left: var(--spacing-gutter-sm);
}

.recipe-management {
    display: flex;
    gap: 10px;
    margin: 0 var(--spacing-gutter-lg);
}

.btn-link {
    padding: 10px;
    background-color: gray;
    border-radius: 3px;
    text-decoration: none;
}

.btn-link-success {
    background-color: var(--color-success);
    color: var(--color-white);
    border: 1px solid var(--border-success);
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    margin-top: var(--spacing-gutter-sm);
}

.tags-list-item {
    color: var(--color-white);
    /* font-weight: bold; */
    text-decoration: none;
    padding: 5px;
    background-color: rgb(123, 170, 240);
    border-radius: 5px;
}

/* Generic */
.d-block {
    display: block;
}

.center {
    text-align: center;
}

.m-x {
    margin-left: var(--spacing-gutter-lg);
    margin-right: var(--spacing-gutter-lg);
}

.m-y {
    margin-top: var(--spacing-gutter-md);
    margin-bottom: var(--spacing-gutter-md);
}

.span-2 {
    grid-column: span 2;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

@media(max-width: 600px) {
    .main-content-list, .form-content-grid {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}
@media (max-width: 400px) {
    .main-logo-text {
       display: none;
    }
}
